@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to the Uptime Monitor! You can log in to create, view and update monitors.</p>
    <p>After logging in you can click on the Monitors to access and modify monitors.</p>
</div>
